@model IEnumerable<SilentAuction.Models.Auction>
@{
    ViewData["Title"] = "Silent Auction";
}

<h2>Silent Auction Home</h2>

<div class="row spacer">
    <div class="alert alert-warning text-left">
        <button class="close" data-dismiss="alert">&times;</button>
        <p>This is a group project I (Daniel Bowen) helped create in the Summer 2017 with a team of four.</p>
        <p>This is a protoype for a Silent Auction Web application.</p>
        <p>It was built for the needs of a non-profit organization in Thailand for fundraising events.</p>
        <p>The code repository for this application can be found <a href="https://github.com/DanielRBowen/SilentAuction" target="_blank">here</a>.</p>
    </div>
</div>

<!-- List of all the auctions -->
@if (Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        <a asp-controller="Auctions" asp-action="SilentAuction" asp-route-id="@item.Id">Auction Page</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info" role="alert">
        <p>There are no Auctions going at the moment.</p>
    </div>
}

